<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <form action="" method="POST">
            {% csrf_token %}
        <div class="login text-center">
        <h1>Login to your account</h1></div><br>
      Email:<br>
      <input type="text" class="form-control" name="email">
      <br>
      Password:<br>
      <input type="password" class="form-control" name="pass">
      <!-- <small><a href="#">Forgot password</a></small> -->
      <br><br>
        <button type="submit" name="login" class="btn btn-success">Login</button>
    </form>
</body>
</html>